<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NBA League</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container" role="main">

		<div class="page-header">
			<div class="pull-left">
				<h2>NBA Teams</h2>
			</div>
			<div class="pull-right">
				
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="jumbotron">
			<p>
				A sample application for viewing the NBA teams and add new players to them.
			</p>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">List of teams</h3>
			</div>
			<div class="panel-body">
				<p>Choose a team:</p>
				<form action="edit-team" class="col-md-12">
					<table class="table table-hover table-bordered"
						style="font-family: monospace;">
						<tr>
							<th>Full Name</th>
							<th>City</th>
							<th>State</th>
							<th>Division</th>
							<th></th>
						</tr>						
						<tr th:each="team: ${teams}">
							<td th:text="${team.fullName}"></td>
							<td th:text="${team.city}"></td>
							<td th:text="${team.state}"></td>
							<td th:text="${team.division}"></td>
							<td class="text-center"><input type="radio" name="id"
								th:value="${team.teamId}"></td>
						</tr>
					</table>
					<div class="form-group">
						<button id="editbtn" type="submit" class="btn btn-primary disabled">Edit Team</button>
					</div>
				</form>
			</div>
		</div>

		<div id="footer" class="footer text-muted">
			<hr />
			<div class="pull-left">
				<ul class="list-inline">
					<li>(C) 2017-2018 - Test app</li>
					
				</ul>
			</div>
			<div class="pull-right">
				<ul class="list-inline">
					<li>Version: 0.0.1</li>
				</ul>
			</div>
		</div>

	</div>

    <script th:src="@{js/jquery.js}"></script>	
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function() {
		$("input[name='id']").change(function(){
		    $("#editbtn").removeClass("disabled");
		});
	});
	</script>	
</body>
</html>
